.about_us_header{
                    background: rgba(250, 190, 88, 0.7);
                /* margin-top: 120px; */
                padding-top: 51px;
                padding-left: 20px;
                color: white;
                text-align: center;
            }
.who{
        text-align: center;
        margin-top: 50px;
    }
.body_card{
        margin-top: 50px;
        }

.about_us_heading{
        background: rgba(30, 15, 8, 0.4);
    margin-top: 90px;
}