.about_us_header{
                background: rgba(250, 190, 88, 1);
                margin-top: 120px;
                    padding-left: 20px;
                padding-top: 20px;
            }
.who{
        text-align: center;
        margin-top: 50px;
    }
.body_card{
        margin-top: 50px;
        }